<div class="material-editor-container">
  <nz-modal
    [(nzVisible)]="modalVisible"
    nzMask="true"
    nzZIndex="1001"
    nzTitle="需求详情"
    nzMaskClosable="false"
    (nzAfterOpen)="afterOpen()"
    (nzAfterClose)="afterClose()"
    (nzOnCancel)="handleCancel()"
    nzClassName="material-creator-modal"
    [nzStyle]="{ top: '20px' }"
    [nzOkText]="null"
    [nzCancelText]="null"
  >
    <form nz-form [formGroup]="validateForm">
      <nz-form-item class="ant-form-item ant-row">
        <nz-form-label [nzSm]="5" [nzXs]="12" nzRequired nzFor="name">素材名</nz-form-label>
        <nz-form-control [nzSm]="6" [nzXs]="12" nzErrorTip="素材名必填">
          <input nz-input id="name" formControlName="name" placeHolder="请填写素材名" />
          <button nz-button nzType="primary" *ngIf="!changeControll.name" (click)="change('name')">修改素材名</button>
          <button nz-button nzType="danger" *ngIf="changeControll.name" (click)="confirm('name')">确定修改</button>
        </nz-form-control>
        <nz-form-label [nzSm]="5" [nzXs]="12" nzFor="background">背景色</nz-form-label>
        <nz-form-control [nzSm]="6" [nzXs]="12" nzErrorTip="素材名必填">
          <input nz-input id="background" formControlName="background" placeHolder="请填写背景色" />
          <button nz-button nzType="primary" *ngIf="!changeControll.background" (click)="change('background')">修改素材名</button>
          <button nz-button nzType="danger" *ngIf="changeControll.background" (click)="confirm('background')">确定修改</button>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="ant-form-item ant-row">
        <nz-form-label [nzSm]="4" [nzXs]="24">附件</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
          <nz-upload
            [nzAction]="rootUrl + '/api/material/addFile'"
            [nzData]="{materialId: materialId}"
            id="fileList"
            [(nzFileList)]="uploadFileList"
            (nzChange)="upload($event)"
            [nzRemove]="removeFile"
          >
            <button nz-button><i nz-icon nzType="upload"></i><span>上传</span></button>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>
</div>
