<div class="qrcode-creator-container">
  <nz-modal
    [(nzVisible)]="modalVisible"
    nzMask="true"
    nzZIndex="1001"
    [nzTitle]="modalTitle"
    nzMaskClosable="false"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOnOk()"
    (nzAfterOpen)="afterOpen()"
    (nzAfterClose)="afterClose()"
    [nzOkLoading]="isOkLoading"
    nzClassName="qrcode-creator-modal"
  >
  <form nz-form [formGroup]="validateForm">
    <nz-form-item class="ant-form-item ant-row">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">二维码页面名</nz-form-label>
      <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="二维码页面名必填">
        <input nz-input id="name" formControlName="name" placeHolder="请填写二维码页面名" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="ant-form-item ant-row">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>素材</nz-form-label>
      <nz-form-control [nzSm]="15" [nzXs]="24" formArrayName="qrcodeMaterialList">
        <div *ngFor="let qrcodeMaterial of qrcodeMaterials.controls;let i = index" [formGroupName]="i">
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="material">选择素材</nz-form-label>
          <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="素材必选">
            <nz-select nzShowSearch nzPlaceHolder="请选择素材" nzPlaceHolder="选择素材" formControlName="material">
              <nz-option *ngFor="let material of materialList" [(nzLabel)]="material.name" [(nzValue)]="material.id"></nz-option>
            </nz-select>
            
          </nz-form-control>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="probability">填写概率</nz-form-label>
          <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="素材概率必填" >
            <input nz-input placeHolder="请填写素材概率" formControlName="probability" />
          </nz-form-control>
          <!-- <nz-row> -->
            <button nz-button nzType="primary"  (click)="addQrcodeMaterial()">新增状态</button>
            <button nz-button nzType="danger" (click)="deleteQrcodeMaterial(i)">删除状态</button>
          <!-- </nz-row> -->
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
  </nz-modal>
</div>
